@import "./variables";
@import "./mixins";

.filter {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(84, 95, 125, 0.14);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 30px 20px;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;

  &__label {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 6px;
    color: $primary-color;
  }

  &__select,
  &__input {
    @include reusable-filter;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  &__button-group {
    display: flex;

    & > .filter__button {
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      width: 98px;
      height: 40px;
      border-radius: 8px;
      text-align: center;
      cursor: pointer;

      &--reset {
        border: 1px solid $primary-color;
        color: $primary-color;
        margin-right: 14px;
      }

      &--filter {
        background: $secondary-color;
        border: 1px solid $secondary-color;
        color: #ffffff;
      }
    }
  }
}
