.general {
  display: flex;
  width: 100%;
  flex-direction: column;
  // flexWrap: "wrap";
  background: #FFFFFF;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 30px;
}

.general > *:not(:last-child) {
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);
  }
