@import "./variables";
@import "./mixins";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  padding: 20px 0;
  padding-left: calc((65% / 16));
  padding-right: calc((65% / 16));

  &__logo {
    width: 144.8px;
    height: 30px;
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(33, 63, 125, 0.2);
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    max-width: 100%;

    input {
      font-size: 14px;
      font-weight: 400;
      color: $primary-color;
      margin-left: 20px;
      border: none;
      outline-color: transparent;
    }

    button {
      @include reusable-button;
      width: 40px;
      height: 40px;
      background-color: $secondary-color;
      border: none;
    }
  }

  &__user {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: $tertiary-color;
    }

    &__child {
      margin-right: 30px;

      &:nth-child(3) {
        margin-right: 10px;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__username {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: $tertiary-color;
      }

      img {
        margin-left: 8px;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .navbar {
    flex-direction: column;
    padding: 10px 1rem;
    width: 100vw;

    &__logo {
      margin: 0;
    }

    &__search {
      margin: 20px 0;
    }
  }
}
