@import "./variables";
@import "./mixins";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  padding: 20px 0;
  padding-left: calc((65% / 16));
  padding-right: calc((65% / 16));
  .logo {
    width: 144.8px;
    height: 30px;
  }
  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(33, 63, 125, 0.2);
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    max-width:100%;
    input {
      font-size: 14px;
      font-weight: 400;
      color: $primary-color;
      margin-left: 20px;
      border: none;
      outline-color: transparent;
    }
    button {
      @include reusable-button;
      width: 40px;
      height: 40px;
      background-color: $secondary-color;
      border: none;
    }
  }
  .user {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: $tertiary-color;
    }
    .user__child {
      margin-right: 30px;
    }

    .user__child:nth-child(3) {
      margin-right: 10px;
    }

    .user__child:last-child {
      margin-right: 0;
    }

    .username {
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: $tertiary-color;
      }
      img {
        margin-left: 8px;
      }
    }
  }
}


@media screen and (max-width: 850px) {
    nav{
        flex-direction: column;
        padding: 10px 1rem;
        width: 100vw;
        .logo{
            margin: 0;
        }
        .search{
            margin: 20px 0;
        }
    }
}