.profile {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;

  @media (max-width: 850px) {
    justify-content: center;
  }

  .profile__picture {
    width: 80px;
    height: 80px;
    border-radius: 100%;
  }

  .profile__user-info {
    margin: 0 20px;

    .profile__name {
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      color: #213f7d;
      margin-bottom: 10px;
    }

    .profile__number {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #545f7d;
    }
  }

  .profile__tier {
    display: flex;
    flex-direction: column;
    margin: 0 20px;

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #545f7d;
      margin-bottom: 10px;
    }

    .profile__stars {
      display: flex;
      gap: 5px;
    }
  }

  .profile__price {
    display: flex;
    flex-direction: column;
    margin: 0 30px;

    &-value {
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      color: #213f7d;
      margin-bottom: 10px;
    }

    &-info {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #213f7d;
    }
  }
}
